@model PlateformeConcours.ViewModel.DeliberationViewModel
@{
    ViewBag.Title = "Deliberation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
            Deliberation <small>3ieme Annee</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Deliberation</li>
        </ol>

    </div>

    <div id="page-inner">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="card-title">
                        <div class="title">Deliberation apres concours</div>
                    </div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("ListDeliberation", "Etudiant3a", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            @Html.Label("id", "Filiere", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-4">
                                @Html.DropDownList("id", ViewBag.liste as SelectList, "Selectionner une filiere", new { @class = "form-control" , required = "required" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("CoefMath", "Coefficient Math", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.CoefMath, new { @class = "form-control", Type = "number" })
                                @Html.ValidationMessageFor(model => model.CoefMath, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("CoefSpec", "Coefficient Spec", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.CoefSpec, new { @class = "form-control", Type = "number" })
                                @Html.ValidationMessageFor(model => model.CoefSpec, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("NbrPlaces", "Nombre de Place", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.NbrPlaces, new { @class = "form-control", Type = "number" })
                                @Html.ValidationMessageFor(model => model.NbrPlaces, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("ListeAtt", "Liste d'attente", new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-2">
                                @Html.TextBoxFor(model => model.ListeAtt, new { @class = "form-control", Type = "number" })
                                @Html.ValidationMessageFor(model => model.ListeAtt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <h4>Classement Par :</h4>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                @Html.DropDownListFor(model => model.Classement1, ViewBag.Classement as List<SelectListItem>, "Selectionner un classement", new { @class = "form-control classement" })
                                @Html.DropDownListFor(model => model.Classement2, ViewBag.Classement as List<SelectListItem>, "Selectionner un classement", new { @class = "form-control classement" })
                                @Html.DropDownListFor(model => model.Classement3, ViewBag.Classement as List<SelectListItem>, "Selectionner un classement", new { @class = "form-control classement" })
                            </div>
                        </div>
                        <div class="horizontal-form">
                            <div class="col-md-offset-9">
                                <input type="submit" value="Afficher la liste" class="btn btn-success" />
                                <input type="reset" class="btn btn-danger" value="Reset" />
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>